.work {
  /* padding-top: 45px; */
  padding-bottom: 94px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}
.work-item {
  max-width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work-lay {
  position: relative;
}
.work-lay-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
