.modal-title {
  font-weight: 700;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--main-text-color);
}
.modal-field {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
}
.modal-label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-bottom: 4px;
  display: block;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  padding-left: 40px;
  outline: none;
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-policy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border-radius: 2px;
    margin-right: 7px;
    border: 2px solid var(--main-text-color);
  }
}
.policy-link {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;
  margin-left: 5px;
  color: var(--accent-color);
}

.modal-policy:checked + .modal-policy-text::before {
  background: var(--accent-color);
  background-image: url(../images/check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}
.modal-policy:focus + .modal-policy-text::before {
  border-color: var(--accent-color);
}

.modal-btn-submit {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: none;
  display: block;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: #2196f3;
    border-radius: 4px;
  }
}
.modal-btn-text {
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
}
